<%- contentFor('body') %>
<div class="conteudo">
    <form action="/" method="POST">
        <input type="text" name="buscar" placeholder="Buscar" />
        <button type="submit"><img src="/img/search.png" /></button>
    </form>
</div>

<div class="linha">
    <h2>Previsão para <%- locale.name %> - <%- locale.state %></h2>
</div>

<div class="linha">
    <% for(dados of weather){ %>
    <div class="col-6">
        <div class="card">
            <h4><%- dados.date %></h4>
            <p><%- dados.text %></p>
            <div class="dados">
                <img src="/img/maxima.png" title="maxima" alt="Maxima" />
                <span class="maxima"><%- dados.temperature.max %>° C</span>  
                <img src="/img/minima.png" title="minima" alt="Minima" />
                <span class="minima"><%- dados.temperature.min %>° C</span>              
            </div>
            <div class="dados2">
                <img src="/img/umido.png" title="umido" alt="Umido" />
                <span class="chuva"><%- dados.rain.precipitation %>MM</span>
                <img src="/img/chuva.png" title="chuva" alt="Chuva" />
                <span class="chuva"><%- dados.rain.probability %>%</span>
            </div>
        </div>
    </div>
<% } %>
    <!-- <div class="col-6">
        <div class="card">
            <h4>Dia 02/01/2020</h4>
            <p>Sol com muitas nuvens durante o dia. Probabilidade de chuvas fortes no final da tarde.</p>
            <div class="dados">
                <img src="/img/maxima.png" title="maxima" alt="Maxima" />
                <span class="maxima">20° C</span>  
                <img src="/img/minima.png" title="minima" alt="Minima" />
                <span class="minima">10° C</span>              
            </div>
            <div class="dados2">
                <img src="/img/umido.png" title="umido" alt="Umido" />
                <span class="chuva">10MM</span>
                <img src="/img/chuva.png" title="chuva" alt="Chuva" />
                <span class="chuva">50%</span>
            </div>
        </div>
    </div> -->
</div>